<html>
<head>
	<title>Thermostat</title>
</head>
<body>
		
<section class="outdoor_temperature">
<h1>The temperature outside is: </h1> <h2></h2>
</section>
	
			<section class='thermostat'>

				<h1>20</h1>
						<h2>powerSaver On</h2>

							<a href="#" class='increase_temp'>+</a>
							<a href="#" class='decrease_temp'>-</a>
							<a href="#" class='reset_temp'>Reset</a>
							<a href="#" class='power_saver_off'>Power saver off</a>
							<a href="#" class='power_saver_on'>Power saver on</a>

			</section>


				<script src='jQuery.js'></script>
				<script src='interface.js'></script>
				<script src='thermostat.js'></script>
</body>


</html>